*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/GastroHelp/.vs
/GastroHelp/.vs/*
/GastroHelp/GastroHelp.WebUI/ApplicationInsights.config
/GastroHelp/GastroHelp.Models/GastroHelp.Models.csproj.user
/GastroHelp/GastroHelp.DataAccess/GastroHelp.DataAccess.csproj.user
/GastroHelp/GastroHelp.WebUI/GastroHelp.WebUI.csproj.user
/GastroHelp/GastroHelp.WebUI/bin
/GastroHelp/GastroHelp.WebUI/bin/*
/GastroHelp/GastroHelp.WebUI/bin/Debug
/GastroHelp/GastroHelp.WebUI/bin/Debug/*.dll
/GastroHelp/GastroHelp.WebUI/bin/Release
/GastroHelp/GastroHelp.WebUI/obj
/GastroHelp/GastroHelp.WebUI/obj/*
/GastroHelp/GastroHelp.Models/bin
/GastroHelp/GastroHelp.Models/bin/*
/GastroHelp/GastroHelp.Models/obj
/GastroHelp/GastroHelp.Models/obj/*
/GastroHelp/GastroHelp.DataAccess/bin
/GastroHelp/GastroHelp.DataAccess/bin/Debug/*.dll
/GastroHelp/GastroHelp.DataAccess/bin/Debug/*.pdb
/GastroHelp/GastroHelp.DataAccess/bin/Release/*
/GastroHelp/GastroHelp.DataAccess/bin/Release/*.dll
/GastroHelp/GastroHelp.DataAccess/bin/Release/*.pdb
/GastroHelp/GastroHelp.DataAccess/obj
/GastroHelp/GastroHelp.DataAccess/obj/*
/GastroHelp/GastroHelp.WebUI/*.user
/GastroHelp/GastroHelp.Models/*.user
/GastroHelp/GastroHelp.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
GastroHelp.DataAccess.csproj.user
*.user
.vs
GastroHelp.Models.csproj.user
GastroHelp/GastroHelp.Models/bin/Debug/GastroHelp.Models.dll
GastroHelp/GastroHelp.Models/bin/Debug/GastroHelp.Models.dll
*.dll
*.pdb
*.cache
