body {
    background-color: #fff;
}

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}

.logo-small {
    color: white;
    font-size: 12px;
}

.container {
    /*background: #DDD*/;
}

.navbar-default {
    border-color: #f4511e;
}

.glyphicon {
    color:#fff;
}